/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #080706;
  color: #ffffff;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
}